* {
box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 0;
}
img {
display: block;
}
body { 
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFF;
}
ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
list-style: none;
}
a {
text-decoration: none;
}
.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
.header {
padding: 24px 0;
border-bottom: 1px solid #e7e9fc;
}
.header-container {
display: flex;
align-items: center;
}
.header-navigation {
display: flex;
align-items: center;
}
.header-logo { 
color: var(--IRIS, #4D5AE5);
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}
.header-logo-studio {
color: var(--NAVY-BLUE, #2E2F42);
}
.header-menu-list {
display: flex;
gap: 40px;
}
.header-menu-item {
}
.header-menu-link {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
}
.header-menu-link:hover,
.header-menu-link:focus {
color: var(--OCEAN, #404BBF);
}
.header-address {
font-style: normal;
margin-left: auto;
}
.header-address-list {
display: flex;
gap: 40px;
}
.header-address-item {
}
.header-address-link {
color: var(--SLATE, #434455);
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-address-link:hover, 
.header-address-link:focus {
color: var(--OCEAN, #404BBF);
}
.solutions {
background-color: var(--NAVY-BLUE, #2E2F42);
padding: 188px 0;
}
.solutions-title {
color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
}
.solutions-btn {
color: var(--WHITE, #FFF);
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
background-color: var(--IRIS, #4D5AE5);
padding: 16px 32px;
border-radius: 4px;
border: none;
display: block;
min-width: 169px;
margin: 0 auto;
}
.solutions-btn:hover,
.solutions-btn:focus {
background-color: var(--OCEAN, #404BBF);
}
.assignments {
padding: 120px 0;
display: flex; 
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
  }
.assignments-list {
display: flex;
gap: 24px;
}
.assignments-item {
width: calc((100% - 24px *3) /4);
}
.assignments-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.assignments-item-text {
color: var(--SLATE, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.team {
background-color: var(--CLOUD, #F4F4FD);
padding-top: 120px;
padding-bottom: 120px;
}
.team-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
.team-list {
display: flex;
gap: 24px;
}
.team-item {
background-color: var(--WHITE, #FFF);
width: calc((100% - 24px *3) /4);
text-align: center;
border-radius: 0px 0px 4px 4px;
}
.team-img {
display: block;
max-width: 100%;
height: auto;
}
.worker {
padding: 32px 0;
}
.team-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 20px;;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.team-item-text {
color: var(--SLATE, #434455);
text-align: center;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.portfolio {
padding-top: 120px;
padding-bottom: 120px;
}
.portfolio-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
.portfolio-list {
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
}
.portfolio-item {
width: calc((100% - 24px *2) /3);
}
.portfolio-img {
display: block;
max-width: 100%;
height: auto;
}
.app {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.portfolio-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.portfolio-item-text {
color: var(--SLATE, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer {
background-color: var(--NAVY-BLUE, #2E2F42);
padding-top: 100px;
padding-bottom: 100px;
}
.footer-logo {
color: var(--IRIS, #4D5AE5);
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 16px;
display: inline-block;
}
.footer-logo-studio {
color: var(--CLOUD, #F4F4FD);
}   
.footer-text {
color: var(--CLOUD, #F4F4FD);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}